
.outer_input {
    display: flex;
    justify-content: center;
  }
  
  .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #AEC6CF;
    height: 100px;
    }

  .outer_btn {
    margin-top: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: navy;
  }
  
  .btn {
    font-weight: bold;
    width: 190px;
    height: 90px;
    margin: 90px;
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #ccc;
  }



  .card_outer {
    display: flex;
    justify-content: space-between;
    background-color: navy;
  }
  
  .maxminrate_outer {
    margin-right: 10px;
  }
  
  .maxminrate .ant-card {
    margin-bottom: 16px;
    margin-top: 0;
    width: 300px;
  }
  
  .exchange_rate .ant-card {
    margin-bottom: 16px;
    margin-top: 0;
    width: 300px;
  }
  
  
